*~
/build
**/build/
**/tbuild/
/src/engine/build
/tutorials/build
/tutorials/build_*
/.autotools
/.cproject
/.project
/.settings/
doc/html/
doc/latex/
*.db
*.o
*.d
*.bin
*.o.d
*.log
.~*
.clang/
.codelite/
**/CodeLite/Debug/*
**/Makefile
**/*.mk
**/tutos.txt
**/Tests.txt
**/Debug/
e2e_localhost.txt
/.vscode
.vscode/*

