[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
	
[submodule "enterprise"]
	path = enterprise
	url = ssh://git@github.com/tredzone/enterprise.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
