*~
/build
**/build/
/src/engine/build
/tutorials/build
/tutorials/build_*
/.autotools
/.cproject
/.project
/.settings/
doc/html/
doc/latex/
*.db
*.o
*.bin
*.o.d
*.log
.~*
.clang/
.codelite/
**/CodeLite/Debug/*
**/CodeLite/Makefile
**/CodeLite/*.mk
**/CodeLite/*.txt
